@use "./base.scss";

// Basics

:root {
    --desktopMarginTop: 6em;
    --r1: 0.0625rem;
    --r3: 0.1875rem;
    --r5: 0.3125rem;
}
html {
    font-size: 100%;
}
::selection {
    color: var(--light);
    background-color: var(--secondary);
}
body {
    color: var(--dark);
}
p,
ul,
text,
a,
tr,
td,
li,
ol,
ul,
.katex,
.math {
    color: var(--dark);
    fill: var(--dark);
}
tbody,
li,
p {
    line-height: 150%;
}
p {
    margin: 1em 0;
}
h4,
h5,
h6,
thead {
    letter-spacing: -0.1875em;
}
hr {
    height: 0.0625em;
}
h1,
h2,
h3 {
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: -0.125em;
    margin-left: -0.0625em !important;
}
small {
    font-size: 0.875em;
    line-height: 125%;
}
img {
    border-radius: var(--r3);
    margin: 1em 0 0;
}
ul {
    padding: 0;
}

// Links

a {
    font-weight: inherit;
    text-decoration: underline;
    color: var(--secondary);
    transition: color 0.2s ease;
} 
a:hover {
    color: var(--tertiary) !important;
}
a.internal {
    text-decoration: none;
    background-color: var(--highlight);
    padding: 0 0.125em 0.0625em;
    border-radius: var(--r3);
}
a[href^="http"]:not([href*="pmcf.xyz"])::after {
    content: " \2197";
    font-size: 0.875em;
    vertical-align: -0.03125em;
}
#explorer-content a::after {
    content: none;
}

// Before Body

    // Wrapper

.page .page-header {
    margin: var(--desktopMarginTop) auto 1em;
}

    // Breadcrumbs

nav.breadcrumb-container {
    --bcGap: 0.25em;
    font-size: 0.875em;
    color: var(--dark);
    gap: unset;
    opacity: 0.6;
}
.breadcrumb-element {
    margin-right: var(--bcGap);
}
.breadcrumb-element:last-child {
    display: none;
}
.breadcrumb-element > p {
    display: none;
}
.breadcrumb-element a {
    color: var(--dark);
}
.breadcrumb-element::after {
    content: "/";
    margin-left: var(--bcGap);
    opacity: 0.4;
}

    // Heading

h1.article-title {
    margin: 0.5em 0 0.5em;
}

    // Meta

p.content-meta {
    font-size: 0.875em;
    margin-bottom: 1em;
    color: var(--dark);
    opacity: 0.6;
}

    // Tags

ul.tags {
    gap: unset;
    margin: 0 -0.5em 1.5em 0;
}
ul.tags > li {
    display: inline-block;
    line-height: 125%;
    padding: 0;
    margin: 0 0.5em 0.5em 0;
}
ul.tags a.tag-link {
    display: inline-block;
    text-decoration: none;
    line-height: 125%;
    padding: 0 0.125em 0.0625em;
    margin: 0;
    border-radius: var(--r3);
    background-color: var(--highlight);
}

// Body

article > *:first-child {
    margin-top: 0 !important;
}
article > *:last-child {
    margin-bottom: 0 !important;
}

// Sidebars

.page > #quartz-body .sidebar {
    gap: unset;
    margin-top: var(--desktopMarginTop);
}
div.graph {
    margin-bottom: 2em;
}
div.graph > .graph-outer {
    margin: 0.5em 0 0;
    border: 0.0625em solid var(--lightgray);
    border-radius: calc(var(--r3) + var(--r1));
}
div.graph > .graph-outer > #global-graph-icon {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.375em;
    margin: 0.375em;
    border-radius: var(--r1);
}
#graph-container svg {
    width: 100%;
}
ul.overflow > li:last-of-type,
ol.overflow > li:last-of-type {
    margin-bottom: 2.25rem;
}
div.backlinks {
    margin-bottom: -2.25em;
}
div.backlinks ul.overflow {
    margin: 0.5em 0 0;
}
div.backlinks li {
    color: var(--gray);
}
div.backlinks a.internal {
    padding: 0;
}

// Footer

body footer {
    opacity: 0.6;
    margin: 2em 0 4em;
}
body footer > :first-child {
    line-height: 125%;
    margin-top: 0;
}
body footer ul {
    flex-wrap: wrap;
    gap: unset;
    margin: -0.75em -1em 0 0;
}
body footer ul > * {
    margin-right: 1em;
}
body footer a {
    color: var(--dark);
}

// Medias

@media (max-width: 1510px) {
    .page {
        padding: 0 1.5em;
    }
    .page .page-header {
        width: initial;
        margin-top: 0;
    }
    .page > #quartz-body .sidebar.right {
        position: initial;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        width: initial;
        padding: 0;
        margin-top: 2em;
    }
    .page > #quartz-body .sidebar.right > * {
        flex: 1 1 100%;
    }
}