// Basics

html {
    font-size: 100%;
    --r3: 0.1875em;
}
::selection {
    color: var(--light) !important;
    background-color: var(--secondary) !important;
}
body {
    color: var(--dark) !important;
}
body p,
body ul,
body text,
body a,
body tr,
body td,
body li,
body ol,
body ul,
body .katex,
body .math {
    color: var(--dark);
    fill: var(--dark);
    overflow-wrap: anywhere;
    hyphens: auto;
}
body tbody,
body li,
body p {
    line-height: 150%;
}
body p, {
    margin: 1em 0;
}
body h4,
body h5,
body h6,
body thead {
    letter-spacing: -0.1875em;
}
body hr {
    height: 0.0625em;
}
body h1,
body h2,
body h3 {
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: -0.125em;
    margin-left: -0.0625em !important;
}
small {
    font-size: 0.875em;
}
body img {
    border-radius: var(--r3);
    margin: 0.5em 0 0;
}
ul {
    padding: 0;
}

// Links

body a {
    font-weight: inherit;
    text-decoration: underline;
    color: var(--secondary);
    transition: color 0.2s ease;
} 
body a:hover {
    color: var(--tertiary) !important;
}
body a.internal {
    text-decoration: none;
    // color: var(--light);
    background-color: var(--highlight);
    padding: 0 0.125em 0.0625em;
    border-radius: var(--r3);
}
.tags a.tag-link {
    margin: 0 0.125em;
}
a[href^="http"]:not([href*="pmcf.xyz"])::after {
    content: " \2197";
    font-size: 0.875em;
    vertical-align: -0.03125em;
}
#explorer-content a::after {
    content: none;
}

// Before Body

    // Wrapper

body .page .page-header {
    margin: 6em auto 1em;
}
@media (max-width: 1510px) {
    body .page .page-header {
        width: initial;
        margin: 4em auto 1em;
    }
}

    // Breadcrumbs

.page-header .breadcrumb-container {
    --bcGap: 0.25em;
    font-size: 0.875em;
    color: var(--dark);
    gap: unset;
    opacity: 0.6;
}
.breadcrumb-container > * {
    margin-right: var(--bcGap);
}
.breadcrumb-element > p {
    display: none;
}
.breadcrumb-element a {
    color: var(--dark);
}
.breadcrumb-element::after {
    content: "/";
    margin-left: var(--bcGap);
    opacity: 0.3;
}
.breadcrumb-element:last-child {
    display: none;
}

    // Heading

.page-header .article-title {
    margin: 0.5em 0 0.5em;
}

    // Meta

.page-header .content-meta {
    font-size: 0.875em;
    color: inherit;
    margin: 0;
    opacity: 0.6;
}

    // Tags

.page-header .tags {
    gap: unset;
    margin: 1em 0 0.5em;
}
.page-header .tags > * {
    display: inline-block;
    line-height: 125%;
    padding: 0;
    margin: 0 0.5em 0.5em 0;
}  
.tags a.tag-link {
    display: inline-block;
    text-decoration: none;
    line-height: 125%;
    padding: 0 0.125em 0.0625em;
    margin: 0;
    border-radius: var(--r3);
    background-color: var(--highlight);
}

// Body

article > *:first-child {
    margin-top: 0 !important;
}
article > *:last-child {
    margin-bottom: 0!important;
}

// Footer

body footer {
    opacity: unset;
    opacity: 0.6;
    margin: 4em 0;
}
body footer ul {
    flex-wrap: wrap;
    gap: unset;
    margin: -0.75em -1em 0 0;
}
body footer ul > * {
    margin-right: 1em;
}
body footer a {
    color: var(--dark);
}